{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Leave Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/leave_admin_dashboard.css' %}">
</head>
<body>

<!-- Table -->
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Leave ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Leave Type</th>
                <th>Start</th>
                <th>End</th>
                <th>Days</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Manager Reason</th>
                <th>Approved/Rejected Date</th>
                <th>Resolved Date</th>
                <th>Request Date</th>
            </tr>
        </thead>
        <tbody>
            {% for leave in leave_requests %}
            <tr>
                <td>{{ leave.leave_id }}</td>
                <td>{{ leave.name }}</td>
                <td>{{ leave.department }}</td>
                <td>{{ leave.leave_type }}</td>
                <td>{{ leave.start_date }}</td>
                <td>{{ leave.end_date }}</td>
                <td>{{ leave.leave_days }}</td>
                <td>{{ leave.reason }}</td>
                <td>{{ leave.status }}</td>
                <td>{{ leave.manager_reason|default:"-" }}</td>
                <td>
                    {{ leave.approved_rejected_date|date:"d M Y h:i A"|default:"-" }}
                </td>
                <td>
                    {{ leave.resolved_date|date:"d M Y h:i A"|default:"-" }}
                </td>
                <td>
                    {{ leave.request_date|date:"d M Y h:i A" }}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="13">No leave requests found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>