{% load static %}
<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Leave Application</title>

<link rel="stylesheet" href="{% static 'css/leave_form.css' %}">

{% if success %}
<meta http-equiv="refresh" content="4;url=/leave/">
{% endif %}

</head>

<body>

<div class="container">

<div class="logo-box">
<img src="{% static 'images/log1.png' %}" alt="logo">
</div>

<h2>Leave Application Form</h2>

<form method="POST">
{% csrf_token %}

<label>Email Address of Requestor *</label>
<input type="email" name="email" required>

<label>Employee Name *</label>
<input type="text" name="name" required>

<label>Department *</label>
<select name="department" required>

<option value="">Select Department</option>
<option>Accounts and Finance</option>
<option>HR and Admin</option>
<option>Engineering</option>
<option>MDO</option>
<option>Sales</option>
<option>Purchase</option>
<option>Stores</option>
<option>DME</option>

</select>

<label>Mobile Number *</label>
<input type="text" name="phone" placeholder="WhatsApp Number" required>

<label>Leave Type *</label>

<select name="leave_type" required>

<option>Earned Leave</option>
<option>Casual Leave</option>
<option>Week-off</option>
<option>Half Day</option>

</select>

<label>Leave Start Date *</label>
<input type="date" name="start_date" required>

<label>Leave End Date *</label>
<input type="date" name="end_date" required>

<label>Leave Reason *</label>
<textarea name="reason" required></textarea>

<button type="submit">Submit Application</button>

</form>

</div>

{% if success %}

<div class="popup-overlay">

<div class="popup-box">

<h3>Leave Request Submitted</h3>

<p>
Your leave request has been sent to your department manager.
You will receive an update soon.
</p>

</div>

</div>

{% endif %}

</body>
</html>