*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    background:#f4f6fb;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:30px;
    width:420px;
    border-radius:8px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}

h2{
    text-align:center;
    margin-bottom:20px;
}

p{
    margin:8px 0;
    font-size:14px;
}

textarea{
    width:100%;
    padding:10px;
    margin-top:15px;
    border:1px solid #ccc;
    border-radius:5px;
    height:80px;
}

button{
    width:100%;
    padding:12px;
    margin-top:10px;
    border:none;
    border-radius:5px;
    font-size:15px;
    cursor:pointer;
}

/* Approve */
.approve-btn{
    background:#28a745;
    color:white;
}

/* Reject */
.reject-btn{
    background:#dc3545;
    color:white;
}

button:hover{
    opacity:0.9;
}